<div class="backFooter d-flex justify-content-center align-items-center mt-5 mt-md-8">
    <div class="col-md-10 mx-auto ">
        <div class="row text-white">
            <div class="col-md-3">
                <p class="h3">Dirección</p>
                <p>Calle Enrique Palacios 480, Miraflores</p>
            </div>
            <div class="col-md-3 mb-3">
                <p class="h3">Contacto</p>
                <a class="text-reset" href="tel:013459413">(01) 3459 413</a>
                <br>
                <a class="text-reset" href="mailto:info@imexvetperu.com">info@imexvetperu.com</a>
            </div>
            <div class="col-md-3 mb-3">
                <p class="h3">Redes Sociales</p>
                <a class="text-reset h2 mr-2" href="https://facebook.com/imexvetperu/" target="blank"><i class="fab fa-facebook-square"></i></a>
                <a class="text-reset h2" href="https://instagram.com/imexvet.peru" target="blank"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="col-md-3">
                <img src="assets/images/logoImexvetWhite.svg" alt="">
            </div>
        </div>
    </div>
</div>