<div class="col-md-10 mx-auto py-4 py-md-6">
    <!-- <p class="h3 text-center text-primary">Sección Contacto por completar</p> -->

    <div class="row no-gutters bgContacto p-4 p-md-6" style="border-radius: 21px 21px 0px 0px;">
        <div class="col-md-6 text-white">
            <p class="h2 font-weight-bold mb-0">Si tú estás bien,</p>
            <p class="h2">ellos están bien.</p>
        </div>
        <div class="col-md-6 text-white">
            <p class="mb-0">Contáctanos al:</p>
            <span class="text-secondary lead mr-2"><i class="fab fa-whatsapp"></i></span>
            <a class="text-white lead" href="https://api.whatsapp.com/send?phone=51989156202" target="blank">+51 989 156 202</a><br>
            <span class="text-secondary lead mr-2"><i class="far fa-envelope"></i></span>
            <a class="text-white lead" href="mailto:logistica@imexvet-peru.com" target="blank">logistica@imexvet-peru.com</a>
        </div>
    </div>

    <div class="row no-gutters bg-light p-4 p-md-6" style="border-radius: 0px 0px 21px 21px;">

        <div class="col-md-6 mx-auto d-flex">
            <div class="mr-3">
                <img src="assets/images/iconPedidos.svg" alt="">
            </div>
            <div>
                <p class="lead font-weight-bold">Horario de atención de Pedidos</p>
                <p class="">Lunes a Viernes <br> 9:00 a.m. a 3:00 p.m</p>
            </div>
        </div>
        <!-- <div class="col-md-6 d-flex">
            <div class="mr-3">
                <img src="assets/images/iconRepartos.svg" alt="">
            </div>
            <div>
                <p class="lead font-weight-bold">Horario de atención de Repartos</p>
                <p class="">Lunes a Viernes <br> 10:00 a.m. a 4:00 p.m</p>
            </div>
        </div> -->

        <!-- <div class="col-12 mt-4 mt-md-5">
            <p class="small text-muted mb-0">Pedido mínimo de delivery: S/ 40.00 - Costo de delivery según dirección de entrega. Delivery gratuito a partir de S/ 120.00 - Productos sujetos a disponibilidad de stock. Zonas de cobertura: Miraflores, San Isidro, San Borja, Surquillo, Jesús
                María, Lince, Magdalena, Surco y Barranco. Se puede recoger en la oficina principal Calle Enrique Palacios 480, Miraflores.</p>
        </div> -->
    </div>

    <!-- <p class="h3 text-primary mt-4 mt-md-6 mb-2 mb-md-4">Nuestras cuentas bancarias</p>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-2">
                <span class="px-2 py-1 border border-secondary rounded font-weight-bold">BCP</span>
            </div>
            <p>
                <strong>Cuenta Soles:</strong> 194 1912887 0 89 <br>
                <strong>CCI:</strong> 00219400191288708996
            </p>
        </div>
        <div class="col-md-6">
            <div class="mb-2">
                <span class="px-2 py-1 border border-secondary rounded font-weight-bold">BBVA</span>
            </div>
            <p>
                <strong>Cuenta Soles:</strong> 0011 0960 0100000849<br>
                <strong>CCI:</strong> 011 960 000100000849 28
            </p>
        </div>
    </div> -->

</div>