<div class="text-right">
    <button mat-icon-button (click)="cancelar()"><mat-icon>close</mat-icon> </button>
</div>
<div class="d-flex flex-column text-center">
    <a class="lead my-2" *ngFor="let link of links" [routerLink]="link.url" (click)="cancelar()">{{link.nombre}}</a>
    <a class="btn btn-secondary ml-3" href="https://imexvetperu.riqra.com/" target="_blank">Tienda virtual</a>
    <div class="small text-muted border-top mt-3 pt-3">
        <a class="text-reset" href="mailto:info@imexvetperu.com">info@imexvetperu.com</a>
        <br>
        <!-- <a class="text-reset" href="tel:015438022">(+51) 01 5438 022</a> -->
        <a class="text-reset" href="tel:013459413">(01) 3459 413</a>
    </div>
</div>